<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Observa Profesores</title>
    </head>
    <body>
        <h3>Estimad@, su solicitud de inscripción a la plataforma Observa Profesores a sido aprobada. Ingrese al siguiente <a href="http://localhost:3000/teacher/complete_teacher_data/<%=data[0]%>">Link</a> para acceder a los datos.</h3>
    </body>
</html>