<div class="row">
    <div class="col-sm-12">
        <h5>¡Agrega tu comentario, tu opinión es importante!</h5>
        <!-- Textarea para insertar comentario -->
        <form id="comment_form" data-idresource="<%=idresource%>">
            <textarea id="textarea" name="comment" rows="3" maxlength="1000" style="width: 100%"></textarea>
        	<button class="btn btn-success" style="float:right;">Comentar</button>
        </form>
    </div>
</div>

<div id="comments_frame">
	<!-- Todos los comentarios. -->
</div>

<script type="text/javascript">

	function update_comment(){
    	$.ajax({
            type: 'GET',
            url: '/comment/show_comments/'+<%=idresource%>,
            success: function (html) {
                $('#comments_frame').empty();
                $('#comments_frame').append(html);
            }
        });
    }

	$(document).ready(function(){
        update_comment();
    });

	$('#comment_form').submit(function(e) {
        e.preventDefault();
        $(this).ajaxSubmit({
            url: '/comment/add_comment',
            type: 'POST',
            data: {idresource: $(this).data('idresource')},
            complete: function (xhr) {
                //Vaciar textarea
                $("#textarea").val("");
                //TODO actualizar los comentarios o insertar comentario nuevo
                update_comment();
                console.log(xhr);
            }
        });
        return false;
    });

</script>