<div class="row">
    <div class="col-sm-12">
        <h3>¡Agrega tu comentario, tu conocimiento es importante!</h3>
        <!-- Textarea para insertar comentario -->
        <form id="comment_form" data-idresource="<%=data.idresource%>">
            <textarea id="textarea" name="comment" rows="3" maxlength="1000" style="width: 100%"></textarea>
        	<button class="btn_obs" style="float:right; margin-bottom: 10px; max-width: 200px">Comentar</button>
        </form>
    </div>
</div>

<div id="comments_frame">
	<!-- Todos los comentarios. -->
</div>

<script type="text/javascript">

    // Entrega los comentarios del recurso
	function update_comment(){
    	$.ajax({
            type: 'GET',
            url: '/comment/show_comments/'+<%=data.idresource%>,
            success: function (html) {
                $('#comments_frame').empty();
                $('#comments_frame').append(html);
            }
        });
    }

	$(document).ready(function(){
        update_comment();
    });

    // Agrega un nuevo comentario
	$('#comment_form').submit(function(e) {
        e.preventDefault();
        $(this).ajaxSubmit({
            url: '/comment/add_comment',
            type: 'POST',
            data: {idresource: $(this).data('idresource')},
            complete: function (xhr) {
                //Vaciar textarea
                $("#textarea").val("");
                // Actualizar los comentarios
                update_comment();
            }
        });
        return false;
    });

</script>