    <footer class="blog-footer">

        <div id="links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <p>Versión 1.1</p>
                    </div>

                    <div class="col-sm-8 text-center offset">
                        <ul class="list-inline">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-md-2 text-right offset">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

    </footer>
    <!-- Modal mainframe -->
    <%- include ../resource/modal/new_resource_1.ejs %>
    <!-- Modal calendario -->
    <%- include ../calendar/calendarModals.ejs%>

    <button class="material-scrolltop inverse" type="button"></button>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/admin/js/Quantum.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/material-scrolltop.js"></script>
    <script src="/js/main.js"></script>
    <!-- Calendario  -->
    <script type="text/javascript" src="/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/js/calendar.js"></script>
    <script type="text/javascript" src="/js/language/es-MX.js"></script>
    <script type="text/javascript" src="/js/jstz.min.js"></script>
    <script type="text/javascript">
        $.material.init();
        $('body').materialScrollTop();

        $(document).ready(function(){
            $.ajax({
                type: 'POST',
                url: '/teacher/is_login',
                success: function(data){
                    $("#is_login").html(data);
                }
            });

            var socket = io.connect('http://localhost:3000', { 'forceNew': true });
            //Escucha una nueva notificacion y envia un ajax para recargar las notificaiones
            socket.on('add_notification', function(input){
                console.log(input.teacher_list);
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({teacher_list: input.teacher_list}),
                    contentType: 'application/json',
                    url: 'teacher/add_notification',
                    success: function(data){
                        if(data != "ignore"){
                            $("#notifications").empty();
                            $("#notifications").html(data);
                            console.log("recarga");
                            $("#nro_notifications").html($("#data_length").data("length"));
                            $("#nro_notifications").data("nro", $("#data_length").data("length"));
                            // $("#nro_notifications").html($("#nro_notifications").data("nro") + 1);
                            // $("#nro_notifications").data("nro", $("#nro_notifications").data("nro")+1);
                        }
                    }
                });
            });
        });
        
    </script>
    <script type="text/javascript">
        var options = {
            tmpl_path: '/tmpls/',
            language: "es-MX",
            events_source: "/calendar/calendarquery",
            view: 'month',
            modal: "#evntModal",
            modal_type: "ajax",
            modal_title: function(event) { $("#evntModalLabel").html("Evento: " + event.title); return; },
            onAfterEventsLoad: function(events) {
                if(!events) {
                    return;
                }
                var list = $('#eventlist');
                list.html('');

                $.each(events, function(key, val) {
                    list.append('<li><a href="' + val.url + '">' + val.title + '</a></li>');
                });
            },
            onAfterViewLoad: function(view) {
                $("#calendarTitle").text(this.getTitle());
            },
            classes: {
                months: {
                    general: 'label'
                }
            }
        };
        var calendar = $('#calendar').calendar(options);

        function navegar(esto) {
            var $this = $(esto);
            calendar.navigate($this.data('calendar-nav'));
        };
        function vista(esto) {
            var $this = $(esto);
            calendar.view($this.data('calendar-view'));
        };
    </script>
    </body>
</html>