<section class="blog-post">
    <div class="panel panel-default" style="padding: 10px">
        <div class="panel-body" >
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 style="color: orange; border-bottom: 4px darkcyan solid; padding-bottom: 4px"><b>¡Hola, Bienvenido/a!</b></h2>
                    <p class="col-sm-12" style="font-size: medium; text-align: justify">
                        Esta plataforma está creada para docentes que creen que la formación ciudadana es un pilar fundamental para
                        hablar de la calidad de la educación.
                    </p>
                    <p class="col-sm-12" style="font-size: medium; text-align: justify">
                        Es una plataforma que busca promover una labor docente por medio de la innovación, colaboración y generación de
                        redes de aprendizaje a partir de la convicción de que todas y todos construimos ciudadanía desde las aulas.
                    </p>
                    <div>
                        <div class="col-sm-6">
                            <img class="img-responsive float-left" src="/icons/RRCC web_como.png">
                        </div>
                        <p class="col-sm-6" style="font-size: medium; text-align: justify">
                            En esta plataforma podrás compartir y encontrar diversos recursos y eventos orientados para ejercer la
                            formación ciudadana de niños, niñas y jóvenes en las diversas áreas de aprendizaje.
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <img class="img-responsive" src="/icons/RRCC web_ingresar.png">
                        </div>
                        <p class="col-sm-6" style="font-size: medium; text-align: justify; margin-top: 10px">
                            Para poder revisar y crear un recurso o un evento deberás inscribirte para ser miembro de la
                            plataforma en la página de inicio de sesión.<br>
                            Una vez ingresados tus datos, el equipo ObservaCiudadanía te incorporará a la red para que puedas
                            acceder libremente.
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <img class="img-responsive" src="/icons/RRCC web_crear recurso.png">
                        </div>
                        <p class="col-sm-6 center-block" style="font-size: medium; text-align: justify">
                            Para compartir, una vez hecho tu perfil, busca a mano izquierda de la plataforma los íconos
                            de agregar eventos y recursos, los cuales te llevaran a la pestaña donde podrás incorporar
                            todos los detalles de tu recurso o evento. Además, podrás comentar y contribuir a otros
                            recursos, así como tus propios recursos podrán recibir comentarios y contribuciones.
                            Las contribuciones son mejoras hacia un recurso.
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <img class="img-responsive" src="/icons/RRCC web_buscador.png">
                        </div>
                        <p class="col-sm-6 center-block" style="font-size: medium; text-align: justify">
                            Puedes buscar los recursos por medio de la barra de búsqueda y los filtros que facilitarán
                            encontrar los recursos más pertinentes a tu búsqueda
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>