<%- include layouts/header.ejs %>

<!-- Esta es la vista principal donde se renderiza, contiene las 2 columnas laterales
y la columna central mainframe -->

<div class="container blog-content" style="width: 85%">
<!-- class="visible-xs-block" para el responsive, permite hacer que una clase no se vea en cierto tamaño de display.  -->
    <div class="row">

        <!-- Columna izquierda -->
        <div class="col-sm-7 col-sm-offset-1">
            <div class="blog-main">
                <div class="row">
                    <!-- Filtro -->
                    <div class="col-sm-11" style="padding-right: 0">
                        <input type="text" id="filter" class="form-control" placeholder="Buscador de recursos" style="margin: 0; padding-bottom: 0" autofocus>
                    </div>
                    <div class="col-sm-1" style="padding-left: 0">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-default btn-lg" type="submit" style="padding: 0; margin: 0">
                                <i class="glyphicon glyphicon-search" style="font-size:30px; color: gray"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <a href="#" class="btn btn-primary">
                                <h5 style="margin: 0">
                                    <img src="/icons/RRCC web-05.png" class="img-rounded" style="width:30px">Activada
                                </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-right: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-06.png" class="img-rounded" style="width:30px">Filtrar
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-21.png" class="img-rounded" style="width:30px">Tipo
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-22.png" class="img-rounded" style="width:30px">Área
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0; width: 90px">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-23.png" class="img-rounded" style="width:30px">Soporte
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary" style="margin-left: 10px">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-26.png" class="img-rounded" style="width:30px">Año
                                        </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-main" id="mainframe">
                <!-- Insertamos aca todos los recursos, recordar id mainframe -->
            </div>
        </div>


        <!-- Columna derecha -->
        <div class="col-sm-4 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <a onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="month">Mes</a>
                                    <a onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="year">Año</a>
                                    <a onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="week">Semana</a>
                                    <a onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="day">Día</a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default text-white" data-calendar-nav="prev"><i class="glyphicon glyphicon-triangle-left"></i></a>
                            </div>
                            <div class="col-md-9">
                                <h5 id="calendarTitle" class="text-center text-white "></h5>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default float-right text-white" data-calendar-nav="next"><i class="glyphicon glyphicon-triangle-right"></i></a>
                            </div>
                            <div class="col-md-12">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5><img src="/icons/RRCC web-16.png" class="img-circle" style="width: 60px; height: 60px">Recursos de la plataforma</h5>
                        <!-- Barra -->
                        <div class="progress" style="height: 3px">
                            <div class="progress-bar" role="progressbar" style="width:100%"></div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 100%;">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="texts" class="progress-bar" role="progressbar" style="width:100%">0%</div>
                                    </div>
                                    Libros/textos
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="opinion" class="progress-bar" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Columna de opinión
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-12.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div  class="progress" style="width: 100%">
                                        <div id="conceptual" class="progress-bar progress-bar-warning" style="width:0%">0%</div>
                                    </div>
                                    Mapas conceptuales
                                </div>
                            </div>
                            <div class="col-sm-6" style="">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-08.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="image" class="progress-bar progress-bar-info" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Imagen
                                </div>
                            </div>
                            <div class="col-sm-6" style="">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-11.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="video" class="progress-bar progress-bar-info" style="width:0%">0%</div>
                                    </div>
                                    Video
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-10.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="guide" class="progress-bar progress-bar-danger" style="width:0%">0%</div>
                                    </div>
                                    Guías/pruebas
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-13.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="presentation" class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Presentación
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.columna derecha -->
    </div><!-- /.row -->

</div><!-- /.container -->

<%- include layouts/user_footer.ejs %>

<script>
    //onready
    $(document).ready(show_resources);
    graph();
</script>
