<%- include layouts/header.ejs %>

<!-- Esta es la vista principal donde se renderiza, contiene las 2 columnas laterales
y la columna central mainframe -->

<div class="container blog-content" style="width: 85%">
<!-- class="visible-xs-block" para el responsive, permite hacer que una clase no se vea en cierto tamaño de display.  -->
    <div class="row">

        <!-- Columna del medio -->
        <div class="col-sm-8" id="central_col">
            <div class="blog-main" id="full_filter">
                <!-- Filtro -->
                <div class="row">
                    <div class="col-sm-11" style="padding-right: 0">
                        <input type="text" id="filter" class="form-control" placeholder="Buscador de recursos" style="margin: 0; padding-bottom: 0">
                    </div>
                    <div class="col-sm-1" style="padding-left: 0">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-default btn-lg" onclick="filter()" style="padding: 0; margin: 0">
                                <i class="glyphicon glyphicon-search" style="font-size:30px; color: gray"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="filter_col">
                    <div class="sidebar-module">
                        <div class="panel panel-default" id="show_image" style="opacity: 0.8">
                            <div class="dropdown">
                                <button class="dropbtn btn" onclick="show_image()">
                                    <h4 class="filter_text" id="msj_show_image" data-toggle="tooltip" data-placement="bottom" style="margin-bottom: 0;">
                                        <img src="/icons/RRCC web-05.png" class="img-rounded filter_img" class="filter_col">
                                        Ver imagen
                                    </h4>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter_col">
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="filter_col">
                                <div class="dropdown">
                                    <button class="dropbtn btn">
                                        <h4 class="filter_text" style="margin-bottom: 0;">
                                            <img src="/icons/RRCC web-21.png" class="img-rounded filter_img">Tipo
                                        </h4>
                                    </button>
                                    <div class="dropdown-content type">
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Opinión">Columna de Opinión.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Libro/Texto">Libro/Texto.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Imagen">Imagen.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Guía/Prueba">Guía/Prueba.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Conceptual">Mapa Conceptual.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Video">Video.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Presentación">Presentación.</a>
                                    </div>
                                </div>
                            </div>

                            <div class="filter_col">
                                <div class="dropdown">
                                    <button class="dropbtn btn">
                                        <h4 class="filter_text" style="margin-bottom: 0;">
                                            <img src="/icons/RRCC web-22.png" class="img-rounded filter_img">Área
                                        </h4>
                                    </button>
                                    <div class="dropdown-content area">
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Matemática">Matemática.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Lenguaje y Comuncación">Lenguaje y Comuncación.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Historia, Geografía y Ciencias Sociales">Historia, Geografía y Ciencias Sociales.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Física">Física.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Inglés">Inglés.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Biología">Biología.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Química">Química.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Educación Tecnológica">Educación Tecnológica.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Educación Física">Educación Física.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Filosofía y Psicología">Filosofía y Psicología.</a>
                                        <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Orientación y Consejo de Curso">Orientación y Consejo de Curso.</a>
                                    </div>
                                </div>
                            </div>

                            <div class="filter_col">
                                <div class="dropdown">
                                    <button class="dropbtn btn">
                                        <h4 class="filter_text" style="margin-bottom: 0;">
                                            <img src="/icons/RRCC web-23.png" class="img-rounded filter_img">Soporte
                                        </h4>
                                    </button>
                                    <div class="dropdown-content suport">
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="pdf">PDF.</a>
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="png gif jpeg jpg">PNG, GIF, JPEG/JPG.</a>
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="mp4 avi mpg mkv flv mov wmc">MP4, AVI, MPG, MKV, FLV, MOV, WMV.</a>
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="doc docx">DOCX.</a>
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="ppt pptx ppsx">PPT/PPTX/PPSX.</a>
                                        <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="xlsx xltx">Excel/XLSX/XLTX.</a>
                                    </div>
                                </div>
                            </div>

                            <div class="filter_col" style="padding-right: 0">
                                <div class="dropdown">
                                    <button class="dropbtn btn">
                                        <h4 class="filter_text" style="margin-bottom: 0;">
                                            <img src="/icons/RRCC web-26.png" class="img-rounded filter_img">Año
                                        </h4>
                                    </button>
                                    <div class="dropdown-content year">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter_col">
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <h4 style="margin-bottom: 0; padding-top: 3px; padding-bottom: 5px">
                                <img src="/icons/RRCC web-25.png" onmouseover="change_star(this)" onmouseout="change_star()" class="img-rounded filter_stars" onclick="click_star(this)" id="star1">
                                <img src="/icons/RRCC web-25.png" onmouseover="change_star(this)" onmouseout="change_star()" class="img-rounded filter_stars" onclick="click_star(this)" id="star2">
                                <img src="/icons/RRCC web-25.png" onmouseover="change_star(this)" onmouseout="change_star()" class="img-rounded filter_stars" onclick="click_star(this)" id="star3">
                                <img src="/icons/RRCC web-25.png" onmouseover="change_star(this)" onmouseout="change_star()" class="img-rounded filter_stars" onclick="click_star(this)" id="star4">
                                <img src="/icons/RRCC web-25.png" onmouseover="change_star(this)" onmouseout="change_star()" class="img-rounded filter_stars" onclick="click_star(this)" id="star5">
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="filter_col">
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="dropdown">
                                <button class="dropbtn btn" onclick="filter()" style="width: 102 %">
                                    <h4 class="filter_text" style="margin-bottom: 0;">
                                        <img src="/icons/RRCC web-06.png" class="img-rounded filter_img">Filtrar
                                    </h4>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Insertamos aca todos los recursos, recordar id mainframe -->
            <div class="blog-main" id="mainframe">

            </div>
            <div class="loader" style="display: none; margin-left: 42%"></div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-4 blog-sidebar" id="right_col">
            <!-- Calendario -->
            <div class="sidebar-module right_col">
                <div class="panel panel-default">
                    <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; text-align: center; padding-bottom: 0px; border-bottom: solid #289B89"><img src="/icons/RRCC web-16.png" class="img-rounded img_30" style="width: 25px">Calendario de eventos</h4>
                    <div class="panel-body" style="padding: 5px; padding-top: 0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group" style="width: 100%; margin: 0">
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default" data-calendar-view="month"><h3 style="margin: 0; font-size: 15px">Mes</h3></a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="year"><h3 style="margin: 0; font-size: 15px">Año</h3></a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="week"><h3 style="margin: 0; font-size: 15px">Semana</h3></a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="day"><h3 style="margin: 0; font-size: 15px">Día</h3></a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default text-white" data-calendar-nav="prev"><i class="glyphicon glyphicon-triangle-left"></i></a>
                            </div>
                            <div class="col-md-9">
                                <h3 id="calendarTitle" class="text-center text-white" style="margin: 0; font-size: 15px"></h3>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default float-right text-white" data-calendar-nav="next"><i class="glyphicon glyphicon-triangle-right"></i></a>
                            </div>
                            <div class="col-md-12">
                                <div id="calendar"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-module right_col">
                <div class="panel panel-default">
                    <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; text-align: center; padding-bottom: 0px; border-bottom: solid #289B89"><img src="/icons/RRCC web-16.png" class="img-rounded img_30" style="width: 25px"> Recursos de la plataforma</h4>
                    <div class="panel-body" style="padding-top: 0">

                        <div class="row" style="margin-top: 5%">
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 100%;">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="texts" class="progress-bar" role="progressbar" style="width:100%">0%</div>
                                    </div>
                                    Libros/textos
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="opinion" class="progress-bar" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Columna de opinión
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-12.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div  class="progress" style="width: 100%">
                                        <div id="conceptual" class="progress-bar progress-bar-warning" style="width:0%">0%</div>
                                    </div>
                                    Mapas conceptuales
                                </div>
                            </div>
                            <div class="col-sm-6" style="">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-08.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="image" class="progress-bar progress-bar-info" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Imagen
                                </div>
                            </div>
                            <div class="col-sm-6" style="">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-11.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="video" class="progress-bar progress-bar-info" style="width:0%">0%</div>
                                    </div>
                                    Video
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-10.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%;">
                                        <div id="guide" class="progress-bar progress-bar-danger" style="width:0%">0%</div>
                                    </div>
                                    Guías/pruebas
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col_rc_1">
                                    <img src="/icons/RRCC web-13.png" class="img-rounded" style="width: 100%">
                                </div>
                                <div class="col-sm-9 col_rc_0">
                                    <div class="progress" style="width: 100%">
                                        <div id="presentation" class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">0%</div>
                                    </div>
                                    Presentación
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.columna derecha -->
    </div><!-- /.row -->

</div><!-- /.container -->

<%- include layouts/user_footer.ejs %>

<script>
    //onready
    $(document).ready(show_resources());
    graph();

    // Funciones filtro
    // Obtiene el año actual para agregar los años a filtro AÑO (desde 2019 hasta este año)
    var year = new Date();
    var year = year.getFullYear();
    for(var i=2019; i < year + 1; i++){
        $(".year").append('<a onclick="select_data(this)" class="filter_date" data-select="false" data-filter="' + i + '">' + i + '.</a>');
    }

    var filter_star = 0;
    //Funcion que cambia diseño de estrellas
    function change_star(yo) {
        if(yo != undefined){
            var this_star = parseInt($(yo).attr("id").split("r")[1]);
            for(var i=1; i<6; i++){
                if(i <= this_star){
                    $("#star" + i).prop("src", "/icons/RRCC web-24.png");
                }
            }
        } else{
            if(filter_star != 0){
                $(".filter_stars").prop("src", "/icons/RRCC web-25.png");
                for(var i=1; i < filter_star+1; i++){
                    $("#star" + i).prop("src", "/icons/RRCC web-24.png");
                }
            } else {
                $(".filter_stars").prop("src", "/icons/RRCC web-25.png");
            }
        }
    }

</script>
