<div class="jumbotron">
    <h1>UPS! Necsitas crearte una cuenta para acceder a este contenido</h1>
    <p>No se pudo cargar lo que sea que se estaba cargando</p>
    <p>El server dijo: <%= errMsg%></p>
</div>