/* Necesario para los comentarios, no es responsive aun */
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/*---*/
/* Estilos para mostrar los resources que son hijos de otro */
.resource-row{
    margin-left: 5px;
    margin-right: 5px;
}

.resource-head{
    padding: 2px 8px;
    display: block;
    border-bottom: 1px solid #EDEDED;
}

.panel-footer{
    padding: 2px 8px;
    display: block;
    border-top: 1px solid #EDEDED;
    background-color: lightgray;
}

/*---*/