<div class="row">
    <section class="blog-post">
        <div class="panel panel-default">
            <h2 class="blog-post-title" style="font-weight: 500; margin-top: 10px">Eventos de los que soy Organizador</h2>
            <br>
            <h3 style="text-align: center;">No existen recursos solicitados.</h3>
            <br>
        </div>
    </section>
    <section class="blog-post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="blog-post-title" style="font-weight: 500; margin-top: 10px">Eventos en los que estoy inscrito</h2>
            </div>
            <div class="panel-body">
                <% if(atts.length){
                    atts.map(function(idx){%>
                    <div class="col-md-">

                    </div>
                <%
                    });
                } else {
                %>
                <div class="well"></div>
                <%}%>
            </div>
            <br>
            <h3 style="text-align: center;">No existen recursos solicitados.</h3>
            <br>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
    <section class="blog-post">
        <div class="panel panel-default">
            <br>
            <h3 style="text-align: center;">No existen recursos solicitados.</h3>
            <br>
        </div>
    </section>
</div>