<%if(is_login){%>
	<ul class="nav navbar-nav navbar-right">
	    <li><a href="#" style="padding: 0; padding-top: 5px; font-weight: 500; font-size: 20px"><img src="/img/icons/selfie.jpg" class="img-circle" style="width: 50px;"> <%=data[0].username %></a></li>
	    <li><a href="#" style="padding: 0; margin-left: 5px"><img src="/img/icons/RRCC web-27.png" style="width: 50px;"></a></li>
	    <li><a href="/teacher/logout" style="padding: 0;"><img src="/img/icons/RRCC web-28.png" style="width: 50px;"></a></li>
	</ul>
<%}else{%>
	<ul class="nav navbar-nav navbar-right">
	    <li><a href="/teacher/login_teacher" style="font-weight: 600">Iniciar Sesión <i class="fa fa-sign-in"></i></a></li>
	</ul>
<%}%>