<%- include ../layouts/header.ejs %>

<!-- Esta es la vista principal donde se renderiza, contiene las 2 columnas laterales
y la columna central mainframe -->

<div class="container blog-content" style="width: 90%">
<!-- class="visible-xs-block" para el responsive, permite hacer que una clase no se vea en cierto tamaño de display.  -->
    <div class="row">
        <!-- Columna de la izquierda -->
        <div id="leftframe" class="col-sm-3 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 style="color: #FFCC00; font-weight: 400; margin-top: 0"> ¡Bienvenido/a!</h3>
                        <div class="row">
                            <div class="col-md-4" style="padding: 5px; margin-left: 5%">
                                <a href="#">
                                    <img src="/icons/avatar.png" class="img-circle" style="width: 100%">
                                </a>
                            </div>
                            <div class="col-md-7" style="padding: 0">
                                <h5 style="margin-bottom: 10px; margin-top: 20px; font-size: 20px"><%=data.name%></h5>
                                <h5>Institucion AIEP</h5>
                            </div>
                        </div>
                        <div class="btn-group-vertical" role="group" style="width: 100%">
                            <div class="row" style="margin-left: 4%">
                                <a class="btn btn-default" onclick="resources_by_teacher()" style="width: 220px">
                                    <div class="col-sm-3" style="padding-left: 5%">
                                        <img src="/icons/RRCC web-16.png" class="img-rounded" style="width: 60px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 10%;">
                                        <p>Mis recursos</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" onclick="resources_by_comment_teacher()" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-17.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis comentarios</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" onclick="resources_by_review()" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-18.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis revisiones</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-19.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis eventos</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 style="text-align: center"><img src="/icons/RRCC web-20.png" class="img-circle img_40">Crea y comparte</h5>
                        <!-- Barra -->
                        <div class="progress" style="height: 3px">
                            <div class="progress-bar" role="progressbar" style="width:100%">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 4%">
                            <a class="btn btn-default" onclick="new_resource()" style="width: 220px">
                                <div class="col-sm-3" style="padding-left: 5%">
                                    <img src="/icons/RRCC web-15.png" class="img-rounded" style="width: 60px">
                                </div>
                                <div class="col-sm-7" style="margin-top: 10%;">
                                    <p>Crear recurso</p>
                                </div>
                            </a>
                            <a class="btn btn-default" style="width: 220px">
                                <div class="col-sm-3" style="padding-left: 5%">
                                    <img src="/icons/RRCC web-14.png" class="img-rounded" style="width: 60px">
                                </div>
                                <div class="col-sm-7" style="margin-top: 10%;">
                                    <p>Crear evento</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna del medio -->
        <div class="col-sm-6" >
            <div class="blog-main">
                <div class="row">
                    <!-- Filtro -->
                    <div class="col-sm-11" style="padding-right: 0">
                        <input type="text" id="filter" class="form-control" placeholder="Buscador de recursos" style="margin: 0; padding-bottom: 0" autofocus>
                    </div>
                    <div class="col-sm-1" style="padding-left: 0">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-default btn-lg" type="submit" style="padding: 0; margin: 0">
                                <i class="glyphicon glyphicon-search" style="font-size:30px; color: gray"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <a href="#" class="btn btn-primary">
                                <h5 style="margin: 0">
                                    <img src="/icons/RRCC web-05.png" class="img-rounded" style="width:30px">Activada
                                </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-right: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-06.png" class="img-rounded" style="width:30px">Filtrar
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-21.png" class="img-rounded" style="width:30px">Tipo
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-22.png" class="img-rounded" style="width:30px">Área
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0; width: 90px">
                                        <a href="#" class="btn btn-primary">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-23.png" class="img-rounded" style="width:30px">Soporte
                                        </h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0">
                                        <a href="#" class="btn btn-primary" style="margin-left: 10px">
                                        <h5 style="margin: 0">
                                            <img src="/icons/RRCC web-26.png" class="img-rounded" style="width:30px">Año
                                        </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Insertamos aca todos los recursos, recordar id mainframe -->
            <div class="blog-main" id="mainframe">

            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-3 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5><img src="/icons/RRCC web-16.png" class="img-circle" style="width: 60px; height: 60px">Recursos de la plataforma</h5>
                        <!-- Barra -->
                        <div class="progress" style="height: 3px">
                            <div class="progress-bar" role="progressbar" style="width:100%">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-07.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-9 col_rc_0">
                                        <div class="progress" style="width: 60%;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">50%</div>
                                        </div>
                                        Columna de opinión/libros /textos
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-12.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-9 col_rc_0">
                                        <div class="progress" style="width: 20%">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">10%</div>
                                        </div>
                                        Mapas conceptuales
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-right: 1%">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-08.png" class="img-rounded img_40 img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 40%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">20%</div>
                                        </div>
                                        Imagen
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-left: -1%">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-11.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 40%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">20%</div>
                                        </div>
                                        Video
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-10.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 23%">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">3%</div>
                                        </div>
                                        Guías/pruebas
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-13.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 30%">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">10%</div>
                                        </div>
                                        Presentación
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.columna derecha -->
    </div><!-- /.row -->

</div><!-- /.container -->

<script type="text/javascript">

    // Buscar recursos del usuario
    function resources_by_teacher() {
        $.ajax({
            type: 'POST',
            url: "/resource/resources_by_teacher",
            success: function (html) {
                $("#mainframe").empty();
                $("#mainframe").append(html);
            }
        });
    }

    // Buscar recursos del usuario
    function resources_by_comment_teacher() {
        $.ajax({
            type: 'POST',
            url: "/resource/resources_by_comment_teacher",
            success: function (html) {
                $("#mainframe").empty();
                $("#mainframe").append(html);
            }
        });
    }

    // Buscar recursos del usuario
    function resources_by_review() {
        $.ajax({
            type: 'POST',
            url: "/resource/resources_by_review",
            success: function (html) {
                $("#mainframe").empty();
                $("#mainframe").append(html);
            }
        });
    }

</script>

<%- include ../layouts/user_footer.ejs %>
