<!--
    La idea es que esta vista sólo reciba una lista de objetos.
    Cada objeto correspondería a una contribución o material (link/imagen/video/archivo).

    Esta vista debería ser reutilizable para todas las rutas que busquen varias contribuciones.
 -->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <!-- Corresponde a una contribución -->
        <!-- for(){} el numero de contribuciones que deseemos mostrar -->
        <section class="blog-post">
            <div class="panel panel-default">
                <img src="img/music/unsplash-2.jpg" class="img-responsive" />
                <div class="panel-body">
                    <!-- Acá van los tags, ojalá sean clickeables para redireccionar a "buscar por tag" -->
                    <div class="blog-post-meta">
                        <span class="label label-light label-warning">Live</span>
                        <p class="blog-post-date pull-right">February 16, 2016</p>
                    </div>
                    <!-- Acá va el contenido de la contribución (sólo vista previa) -->
                    <div class="blog-post-content">
                        <a href="#">
                            <h2 class="blog-post-title">Like a little drop of ink</h2>
                        </a>
                        <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>

                        <!-- El param del onclick debe ser el iddelmat -->
                        <a class="btn btn-info" onclick="show_a_resource(1)">
                            Leer más
                        </a>
                        <!-- Boton redes sociales -->
                        <a class="blog-post-share pull-right" href="#">
                            <i class="material-icons">&#xE80D;</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Otra mas -->
        <section class="blog-post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="blog-post-meta">
                        <span class="label label-light label-primary">Studio</span>
                        <p class="blog-post-date pull-right">February 5, 2016</p>
                    </div>
                    <div class="blog-post-content">
                        <a href="#">
                            <h2 class="blog-post-title">Cinderella through the room</h2>
                        </a>
                        <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>
                        <a class="btn btn-info" onclick="upd_main(this)" data-url="/material/mostrar/2">Read more</a>
                        <a class="blog-post-share pull-right" href="#">
                            <i class="material-icons">&#xE80D;</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tercera -->
    </div>
</div>