<!--
    La idea es que esta vista sólo reciba una lista de objetos.
    Cada objeto correspondería a una contribución o material (link/imagen/video/archivo).

    Esta vista debería ser reutilizable para todas las rutas que busquen varias contribuciones.
 -->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <!-- Corresponde a una contribución -->
        <!-- for(){} el numero de contribuciones que deseemos mostrar -->
        <%results.forEach(function (resource) { %>
            <section class="blog-post">
                <div class="panel panel-default">
                    <!-- Imagen -->
                    <div style="padding: 2%">
                        <img src="img/music/unsplash-2.jpg" class="img-responsive" style="border: 2px solid black">
                        <p class="bs-component btn-group-sm" style="float: right">
                            <!-- TODO Los ultimos 2 botones deberian solo aparecer si eres autor del recurso
                            <a href="#" class="btn btn-success btn-fab"><i class="material-icons">thumb_up_alt</i></a>
                            <a href="#" class="btn btn-warning btn-fab"><i class="material-icons">edit</i></a>
                            <a href="#" class="btn btn-danger btn-fab"><i class="material-icons">block</i></a>
                            -->
                        </p>
                    </div>
                    <div class="panel-body">
                        <!-- TODO Acá van los tags, ojalá sean clickeables para redireccionar a "buscar por tag" -->
                        <!-- Titulo -->
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 60px">
                            </div>
                            <div class="col-sm-10" style="margin-left: 10px">
                                <h2 class="blog-post-title" style="font-weight: 500; margin-top: 10px">
                                    <%=resource.title%>
                                </h2>
                                <div class="blog-post-meta" style="padding: 0;">
                                    <h4>por Oscar Guerra Gonzalez - 15/02/2019</h4>
                                </div>
                                <!-- Barra -->
                                <div class="progress" style="height: 1px;">
                                    <div class="progress-bar" role="progressbar" style="width:100%"></div>
                                </div>
                                <!-- Acá va el contenido de la contribución (sólo vista previa) -->
                                <p><%=resource.description%></p>
                            </div>
                            <div class="col-sm-3 col-sm-offset-6" style="padding: 0">
                                <!-- El param del onclick debe ser el iddelmat -->
                                <a class="btn btn-success" onclick="show_a_resource(<%=resource.idresource%>)" style="padding: 5px">
                                     <span class="glyphicon glyphicon-search"></span>Revisar Recurso
                                </a>
                            </div>
                            <div class="col-sm-3" style="padding-right: 0; padding-left: 3px">
                                <img src="/icons/RRCC web-24.png" class="img-rounded" style="width: 20px; display: inline;">
                                <img src="/icons/RRCC web-24.png" class="img-rounded" style="width: 20px; display: inline;">
                                <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                                <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                                <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </section>
        <%});%>
        <!-- Aca se deberia cerrar el for(){} -->

    </div>
</div>